@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}

.fexsxible-container{
    display: flex;
    
}
.raihan-haf{
    width: 50%;
    padding-left: 5%;
    margin-bottom: 140px;
  
    
}
.raihan-haf img{
    width:  80%;
    
    
}


.first-link{
    text-decoration: none;
    background: linear-gradient(rgba(119, 128, 177,0.1) ,rgba(119, 128, 177,1));
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: rebeccapurple;
}   
.first-section{
    background: url("images/top-banner.png");
  
    background-repeat: no-repeat;
    ;
}


.raihanhaf{
    width: 50%;
    padding-left: 5%;
    
}
.raihanhaf img{
    width: 80%;
}
.dream{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}


.ami{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-right: 5%;
    border: 0px 0px 0px 3px solid red;
    margin-bottom: 150px;
}
.exsection{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.tumi{
    border-image: linear-gradient( salmon, tomato);
    border-left: 7px solid;
    border-image-slice: 1;
}
.she{
    border-image: linear-gradient( blue, cyan);
    border-left: 7px solid;
    border-image-slice: 1;
}

footer p{
    text-align: center;
}