@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
   
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
.font{
    text-transform: capitalize;
}
new-photo{
    width: 400px;
    height: auto;
}
section{
    display: flex;
}
.raihan{
    width: 50%;
}
.first-div{
    margin-left: 15px;
}

.new-photo{
    width: 80%;
    border: 1px solid red;
    margin-left: 80px;
    margin-top: 30px;
}
.first-link{
    text-decoration: none;
    background: linear-gradient(rgba(119, 128, 177,0.1) ,rgba(119, 128, 177,1));
    padding: 10px 40px;
    border-radius: 5px;
    color: rebeccapurple;
}   
.first-section{
    background: url("images/top-banner.png");
    background-repeat: no-repeat;
    ;
}